

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/*body{
    background: no-repeat;
    background-image: url("https://png.pngtree.com/background/20230614/original/pngtree-interior-of-outlet-shop-in-shoes-section-as-blurred-store-background-picture-image_3488221.jpg");
    background-size:1500px; 
}*/

.logo-img{
    height: 50px;
    width: 100px;
}
.nav{
    position: sticky;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px salmon;
    border:1px solid #ff1a75;
    padding: 2px;
    text-align: center;
    

}
.nav-link{
    color :black;
    font-size: 20px;
    font-family:  sans-serif;
    margin: 10px;
    text-align: center;
    font-family: "Sedan SC", serif;


}
.nav-link:hover{
    color:#fff;
    background-color: #ff1a75;
    border-radius: 5px;
}
.slider{
    margin: 5px auto;
    width: 1400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ff1a75;
}
.brands{
    color: #ff1a75;
    text-align: center;
    font-family: "Sedan SC", serif;

}
.categories{
   
 border:solid 1px #ff1a75;
 width: 50px;
 height: 300px;
 margin: 10px;    
 border-radius: 20px;
 box-shadow: 0 0 4px 1px #747171;
}
.categories-img{
    margin:10px auto;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    height: 200px;
    
}

/*@media screen and (max-width: 600px){
    .categories-img{
        width: 50%;

    }
    .categories-btn{
        width: 40%;
        padding: 5px 10px;
        position: fixed;

    }
}*/
.categories-btn{
    background-color: #ff1a75;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.categories-btn:hover{
    transition: 0.5s;
    background-color: #fff;
    border-radius: 5px;
    color: #ff1a75;
    border: 1px solid #ff1a75;
}
.links{
    text-decoration: none;
    color: #fff;
}
.links:hover{
    color: #ff1a75;
}
.brands-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
}

.container-footer{
  align-items: center;
}
.news-btn{
width: 130px;
}
.newsletter {
  position: relative;
  align-items: center;
  width:40%;
  margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
.newsletter h3 {
color: #333;
margin-bottom: 10px;
}
.newsletter p {
color: #666;
margin-bottom: 10px;

}
.newsletter input[type="email"] {
padding: 10px;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.newsletter input[type="submit"] {
padding: 10px 20px;
background-color: #49e4ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
.newsletter input[type="submit"]:hover {
background-color: #90eeff;
}
.email-input {
width: 300px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin:10px auto;
margin-bottom: 10px;
}
.error-message {
color: red;
}
.footer {
    font-family:  sans-serif;

  margin-top: 20px;
background-color: black;
padding: 40px;
color: white; 
}
.footer-body{
max-width: 1200px;
margin: 0 auto;
}
.footer-head h5{
color:#ff1a75; 
margin-bottom: 20px;
}
.footer-container{
display: flex; 
flex-wrap: wrap; 
align-items: flex-start; 
justify-content: space-between;
}
.footer-head h5{
width: 25px; 
height: 25px;
color:#ff1a75;
margin-top:5px;
margin-bottom: 20px; 
}
.footer-container2{
display:block;
justify-content: space-between;
}
.footer-contact-us, .footer-contact {
color: #666;
text-decoration: none;
}

.footer-contact-us:hover {
color:#ff1a75;
}
.footer-quick-links{
color: rgb(125, 124, 124);
margin-bottom: 5px;
text-decoration:none;
}
.footer-quick-links:hover{
color:#ff1a75;
margin-bottom: 5px;
}
.footer-icon-container{
margin-bottom: 10px;
text-decoration: none;
color: rgb(125, 124, 124);
}
.footer-icon{
margin-right:3px;
width: 30px;
height: auto;
}
.brands1{
    color: #ff1a75;
    text-align: start;
    margin:30px 70px;
    font-family: "Sedan SC", serif;
    width: 300px;
}
.main-img{
    height: 350px;
    width: 300px;
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
    background-color: rgb(251, 251, 252);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgb(77, 76, 76);
}
.mainimg{
    width: 250px;
    height: 250px;
    padding: 10px 20px;
    display: block;
    margin: 0px auto;
    width: 200px;

}
.Product-preview{
    display: flex;
    justify-content: center;    
    }
.preview{
height: 80px ;
width: 80px;
padding: 10px 20px;
object-fit: cover;
width: 100px;
border: 1px solid #000;
border-radius: 5px;
margin: 10px;

}
.main{
    border:1px solid #ff1a75;
    margin-top: 10px;
    border-radius: 20px;    
    box-shadow: 0 0 10px 1px #ff1a75;
}
.product{
    margin-top: 50px;
    height: 1120px;
    box-shadow:0 0 10px 1px #ff1a75;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.pro-content{
    border-radius: 5px;
    height: 450px;
    border: solid 1px #ff1a75;
   
}
.pro-content:hover{
    box-shadow: 0 0 10px 1px #ff1a75;
    transition: 0.2s;

}
.card-text{
    margin-top: 0px;
}
.btn{
    background-color: #ff1a75;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.btn:hover{
    transition: 0.5s;
    background-color: #fff;
    border-radius: 5px;
    color: #ff1a75;
    border: 1px solid #ff1a75;
}
.card-img-top{
    height: 300px;
}
.btn1{
    background-color: #ff1a75;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    margin-bottom: 20px;

}
.btn1:hover{
    transition: 0.5s;
    background-color: #fff;
    border-radius: 5px;
    color: #ff1a75;
    border: 1px solid #ff1a75;
}